// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$pink-light: #ff9ff3;
$pink: #f368e0;
$orange-light: #feca57;
$orange: #ff9f43;
$jade: #00d2d3;
$red-light: #ff6b6b;
$red:#ee5253;
$blue: #54a0ff;
$blue-deep: #341f97;
$water: #48dbfb;
$cyan : #0abde3;
$green-light: #1dd1a1;
$green: #10ac84;
$fuel: #222f3e;
$fuel-light: #576574;

$primary: #feca57 !default;
//$primary: #fed136 !default;
